/* === GLOBAL === */
a {
    color: rgb(224,115,88);
}

a:hover {
    color: rgb(25,0,0);
}

.site-title img {
    height: 60px;
}

/* === FOR THE MAIN PAGE === */

/* Reduce post title size on mobile and desktop */
@media (min-width: 320px) and (max-width: 480px) {
  
    .post-title {
        font-size: 1.5rem
    }
    
}

@media (min-width: 480px) {
    .post-title{
        font-size:2.5rem
    }
}

/* Sizing of post-summary text for mobile and desktop */
@media (min-width: 320px) and (max-width: 480px) {
  
    .post-summary {
        font-size: 0.9rem
    }
    
}

@media (min-width: 480px) {
    .post-summary{
        font-size:1.1rem
    }
}

/* Thumbnail for the post on main page */
.post-thumbnail {
    width: 100%;
    height: auto;
}

/* Post Author Sizing */
.post-author, .post-meta {
    font-size: 0.9rem;
}


/* === FOR INDIVIDUAL POSTS === */

/* Reduce post title size */
@media (min-width: 320px) and (max-width: 480px) {
  
    .py2 {
        font-size: 1.5rem;
        padding-bottom: 0;
    }
    
}

@media (min-width: 480px) {
    .py2 {
        font-size:2.5rem;
        padding-bottom: 0;
    }
}

/* Reduce Heading Sizes */
.post-content h2 {
    font-size: 2rem;
}

.post-content h3{
    font-size:1.5rem;
    font-style:italic;
}

/* Reduce post text size */
@media (min-width: 320px) and (max-width: 480px) {
    .post-content p {
        font-size: 1rem;
    }
}

@media (min-width: 480px) {
    .post-content p {
        font-size: 1.1rem;
    }
}

.post-content img {
    width: 100%;
}