/* === GLOBAL === */
a {
    color: rgb(224,115,88);
}

a:hover {
    color: rgb(25,0,0);
}

.site-title img {
    height: 60px;
}

/* === FOR THE MAIN PAGE === */

/* Reduce post title size on mobile and desktop */
@media (min-width: 320px) and (max-width: 480px) {
  
    .post-title {
        font-size: 1.5rem
    }
    
}

@media (min-width: 480px) {
    .post-title{
        font-size:2.5rem
    }
}

/* Sizing of post-summary text for mobile and desktop */
@media (min-width: 320px) and (max-width: 480px) {
  
    .post-summary {
        font-size: 0.9rem
    }
    
}

@media (min-width: 480px) {
    .post-summary{
        font-size:1.1rem
    }
}

/* Thumbnail for the post on main page */
.post-thumbnail {
    width: 100%;
    height: auto;
}

/* Post Author Sizing */
.post-author, .post-meta {
    font-size: 0.9rem;
}


/* === FOR INDIVIDUAL POSTS === */

/* Reduce post title size */
@media (min-width: 320px) and (max-width: 480px) {
  
    .py2 {
        font-size: 1.5rem;
        padding-bottom: 0;
    }
    
}

@media (min-width: 480px) {
    .py2 {
        font-size:2.5rem;
        padding-bottom: 0;
    }
}

/* Reduce Heading Sizes */
@media (min-width: 320px) and (max-width: 480px) {
    .post-content h2 {
        font-size: 1.5rem;
    }
    
    .post-content h3{
        font-size:1.1rem;
        font-style:italic;
    }

    .post-content h4{
        font-size: 1.1rem;
        font-style: underline;
    }
}
@media (min-width: 480px) {

    .post-content h2 {
        font-size: 2rem;
    }

    .post-content h3{
        font-size:1.5rem;
        font-style:italic;
    }

    .post-content h4{
        font-size: 1.1rem;
        font-style: underline;
    }
}

/* Reduce post text size */
@media (min-width: 320px) and (max-width: 480px) {
    .post-content p, .post-content li {
        font-size: 1rem;
    }
}

@media (min-width: 480px) {
    .post-content p, .post-content li {
        font-size: 1.1rem;
    }
}

/* Image sizing */
.post-content img:not(.thirty, .fourty, .fifty) {
    width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
    .thirty {
        display: block;
        text-align: center;
        width: 50%;
        margin-left:auto;
        margin-right:auto;
    }
    
    .fourty {
        display: block;
        text-align: center;
        width: 60%;
        margin-left:auto;
        margin-right:auto;
    }
    
    .fifty {
        display: block;
        text-align: center;
        width: 70%;
        margin-left:auto;
        margin-right:auto;
    }
}
@media (min-width:400px) {
    .thirty {
        display: block;
        text-align: center;
        width: 30%;
        margin-left:auto;
        margin-right:auto;
    }

    .fourty {
        display: block;
        text-align: center;
        width: 40%;
        margin-left:auto;
        margin-right:auto;
    }

    .fifty {
        display: block;
        text-align: center;
        width: 50%;
        margin-left:auto;
        margin-right:auto;
    }
}