{{ partial "head.html" . }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="/js/chartjs-plugin-zoom.js"></script>
<!--<script src="/js/chartjs-plugin-downsample.js"></script>-->

<div class="site-wrap">
  {{ partial "header.html" . }}
  <div class="post p2 p-responsive wrap" role="main">
    <div class="measure">
      <div class="post-header mb2">
        <h1 class="py2">{{ .Title }}</h1>
        <span class="post-meta">{{ .Date.Format "Jan 2, 2006" }} by {{ .Params.author }}</span><br>
        {{ $baseurl := .Site.BaseURL }}
      </div>

      <article class="post-content">
      {{ .Content }}
      </article>

      <p class="post-meta">{{ i18n "tags" }}:&nbsp;
        {{ range $i, $e := .Params.tags }}
            {{if $i}},&nbsp;{{end}}
            <a href="{{ $baseurl }}{{ $.Site.LanguagePrefix }}/tags/{{ . }}">{{ . }}</a>
        {{ end }}
      </p>

      {{ partial "comments.html" . }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
